# Source Shell
alias reload.zsh="source ~/.zshrc"

# List declared aliases, functions, path
alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths="echo -e ${PATH//:/\\n}"

# Dotfiles
## Shell
alias cp.zshrc="cp ~/.zshrc ~/workspace/dotfiles"
alias cp.alias="cp ~/.zsh/.aliases ~/workspace/dotfiles"
alias cp.kitty="cp ~/.config/kitty/kitty.conf ~/workspace/dotfiles"
alias cp.function="cp ~/.zsh/.functions ~/workspace/dotfiles"
## Git
alias cp.gitconfig="cp ~/.gitconfig ~/workspace/dotfiles"
alias cp.gitignore="cp ~/.gitignore ~/workspace/dotfiles"
alias cp.gittemplates="cp -R ~/.git-templates ~/workspace/dotfiles"
# Scripts
alias cp.hammerspoon="cp ~/.hammerspoon/init.lua ~/workspace/dotfiles/.hammerspoon/"
## Rust
alias cp.rustfmt="cp ~/.rustfmt.toml ~/workspace/dotfiles"
## VSCode
alias cp.vscode.keybindings="cp ~/Library/Application\ Support/Code/User/keybindings.json ~/workspace/dotfiles"
alias cp.vscode.settings="cp ~/Library/Application\ Support/Code/User/settings.json ~/workspace/dotfiles"
alias cp.vscode.snippet="cp ~/Library/Application\ Support/Code/User/snippets/fuzznimp.code-snippets ~/workspace/dotfiles"

# System
alias ~="cd ~"
alias /="cd /"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias cp="cp -iv"
alias mv="mv -iv"
alias mkdir="mkdir -pv"
alias src="source .env.development"

# Confs
alias conf.alias="code ~/.zsh/.aliases"
alias conf.function="code ~/.zsh/.functions"
alias conf.zsh="code ~/.zshrc"
alias conf.kitty="code ~/.config/kitty/kitty.conf"

# Paths
alias dotfiles="cd ~/workspace/dotfiles"
alias wks="cd ~/workspace"

# Work
## Fewlines
alias fwl="cd ~/workspace/fewlines"
alias fwl.account="cd ~/workspace/fewlines/connect-account"
alias fwl.connect="cd ~/workspace/fewlines/connect"
alias fwl.courses="cd ~/workspace/fewlines/sparta_courses"
alias fwl.guidelines="cd ~/workspace/fewlines/guidelines"
alias fwl.eslint="cd ~/workspace/fewlines/eslint-config"
alias fwl.profile="cd ~/workspace/fewlines/connect-profile"
alias fwl.sparta="cd ~/workspace/fewlines/sparta-monorepo"
alias fwl.sdk="cd ~/workspace/fewlines/connect-js"
alias fwl.fwl="cd ~/workspace/fewlines/node-web-libraries"
alias fwl.web="cd ~/workspace/fewlines/website"
## Sencrop
alias sen="cd ~/workspace/sencrop"
alias sen.app="cd ~/workspace/sencrop/sencrop-app"
alias sen.bo="cd ~/workspace/sencrop/sencrop-backoffice"
alias sen.bali="cd ~/workspace/sencrop/sencrop-bali-api"
alias sen.factory="cd ~/workspace/sencrop/sencrop-factory"
alias sen.infra="cd ~/workspace/sencrop/infrastructure-sencrop"
alias sen.map="cd ~/workspace/sencrop/sencrop-map"
alias sen.quo="cd ~/workspace/sencrop/sencrop-quotator"
alias sen.ui="cd ~/workspace/sencrop/sencrop-ui"

# ls
alias ll="exa --all --long --header --git"
alias lt="exa -aT --color=always --group-directories-first --ignore-glob='**/node_modules|**/dist|**/.next'"

# tar
alias tarr="tar -pczf $1 $2"
alias untarr="tar -pxzf $1"
alias starr="sudo tar -pczf $1 $2"

# Docker
alias dk="docker"
alias dkc="docker compose"

# Overmind
alias hv="hivemind"
alias ov="overmind"

# AWS
alias ddb="aws dynamodb"

# Mac
alias cask="brew cask"
alias delete.ds="find . -type f -name '*.DS_Store' -ls -delete"
alias delete.ad="find . -type d -name '.AppleD*' -ls -exec /bin/rm -r {} \;"
alias desktopshow="defaults write com.apple.finder CreateDesktop -bool true && killfinder"
alias desktophide="defaults write com.apple.finder CreateDesktop -bool false && killfinder"
alias displays="system_profiler SPDisplaysDataType"
alias cpu="sysctl -n machdep.cpu.brand_string"

# Git
alias gst="git status"
alias gcb="git checkout -b"
alias gd="git diff"
alias ga="git add"
alias gcm="git commit -m"
alias gpo="git push -u origin"
alias gtl="git stash list"
alias gts="git stash save"
alias gsd="git stash drop"
alias gca="git commit --amend"
alias gb="git rebase"
alias gbd="git branch -D"
alias gl="git log --pretty=oneline --abbrev-commit"
alias	gpof="git push origin --force-with-lease"
alias	gpoff="git push origin --force-with-lease --no-verify"
alias gbleach="git branch -vv | grep 'gone'] | awk '{ print $1 }' | xargs git branch -D"

# kitty
alias update_kitty="curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin"

# Vim
alias vi="nvim"

# Onivim2
alias oni="/Applications/Onivim2.App/Contents/MacOS/Oni2"

# Docker
alias docker.cleancontainer="docker ps -a -q | xargs docker rm"
alias docker.cleanimage="docker images --filter dangling=true -q | xargs docker rmi"

# Network
alias nets="lsof -i"
alias ip="curl -s ipinfo.io | jq -r '.ip'"
alias ipl="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias wip="curl ifconfig.co"
alias speedtest="curl -o /dev/null http://ovh.net/files/100Mio.dat"

# Misc
alias week="date +%V"
alias ansic='for code in {000..255}; do print -P -- "$code: %F{$code}Color%f"; done'
