export_dotfiles() {
  cp.zshrc \
  && cp.alias \
  && cp.function \
  && cp.gitconfig \
  && cp.gitignore
}

import_dotfiles() {
  cp ~/workspace/dotfiles ~/.zshrc \
  && cp ~/workspace/dotfiles ~/.zsh/.aliases \
  && cp ~/workspace/dotfiles ~/.zsh/.functions \
  && cp ~/.gitconfig ~/workspace/dotfiles \
  && cp ~/.gitignore ~/workspace/dotfiles
}

api_key() {
  size=${1:-16}
  openssl rand -hex ${size}
}

gclone() {
	git clone "$1" && cd "$(basename "$1" .git)"
}

# Markdown
md() {
  pandoc $1 | lynx -stdin -dump
}

# Open man page as PDF
manpdf() {
  man -t "$1" | open -f -a /Applications/Preview.app/
}

mk() {
  mkdir -p "$@" && cd "$@"
}

port_in_use() {
  local port=${1:?"you should set a port"}
  lsof -n -i:${port} | grep LISTEN
}

uuid() {
  uuidgen | tr '[:upper:]' '[:lower:]' | tr -d '\n'
}

# Weather
wth() {
  city=${1:?"Choose a city"}
  curl "wttr.in/${city}"
}
