[color]
	diff = true
	ui = true

[core]
	editor = vim

[diff]
	renames = copies
	tool = vimdiff3

[difftool]
	prompt = false

[difftool "vimdiff3"]
	path = vim

[color "diff"]
	whitespace = red

[core]
	excludesfile = ~/.gitignore
	pager = less -F -X

[fetch]
	prune = true

[grep]
	extendRegexp = true
	lineNumber = true

  [include]
	path = ~/.gitconfig.local

[init]
	templatedir = ~/.git_template

[merge]
	tool = vimdiff3

[mergetool "vimdiff3"]
	path = nvim

[push]
	default = current

[user]
	email = montaigne.anthony.dev@gmail.com
	name = Fuzznimp
	useconfigonly = true

[url "git@github.com:fuzznimp/"]
	insteadOf = "fuzznimp:"

[url "git@github.com:fewlinesco/"]
	insteadOf = "fewlines:"
	
[pull]
	ff = true
