source $HOME/workspace/dotfiles/zsh/.constants

# ─── tmux ───────────────────────────────────────────────────

tmux-kill-garbage-sessions() {
  local garbage_sessions=($(tmux list-sessions | awk -F: '!/🌳|🍃/ {print $1}'))
  local current_session=$(tmux display-message -p '#S')

  if [ ${#garbage_sessions[@]} -eq 0 ]; then
    echo "No garbage sessions found."
  else
    for session in "${garbage_sessions[@]}"; do
      if [ "$session" != "$current_session" ]; then
        tmux kill-session -t "$session"
        echo "Session $session killed."
      else
        echo "Skipping current session $session."
      fi
    done
  fi
}

tmux-kill-all() {
  tmux list-sessions | cut -d: -f1 | xargs -I{} tmux kill-session -t {}
  echo "All tmux sessions removed."
}

tmux-bootstrap-sessions() {
  tmux-kill-all
  tmux new-session -d -s 🍃
  tmux new-session -d -s 🌳
  tmux attach-session -t 🌳
}

tmux-split-layout() {
  tmux split-window -h
  tmux split-window -v
  tmux select-pane -t 1
}

tpm() {
  tpm.update
  tpm.reload
  tpm.source
  tpm.prompt
}

bat() {
  tmux display-popup -w 80% -h 80% -d "#{pane_current_path}" "bat $@"
}

lg() {
  tmux display-popup -E -w 90% -h 90% -d "#{pane_current_path}" "lazygit"
}

ld() {
  tmux display-popup -E -w 80% -h 80% -d "#{pane_current_path}" "lazydocker"
}

ghd() {
  tmux display-popup -E -w 80% -h 80% -d "#{pane_current_path}" "gh dash"
}


# ─── stow ───────────────────────────────────────────────────

stow.up() {
  cd $DOTFILES_PATH
  stow --no-folding . --target="$HOME/" --adopt
}

stow.down() {
  cd $DOTFILES_PATH
  stow --delete . --target="$HOME/"
}

# ─── System ──────────────────────────────────────────────────

update_stack() {
  echo "🌀 Starting brew maintenance.."
  brew update &&
    brew upgrade &&
    brew cleanup &&
    brew doctor &&
    brew bundle check &&
    brew bundle cleanup
  echo "🚀 Brew maintenance done!"

  echo "🌀 Starting mas maintenance.."
  mas upgrade
  echo "🚀 Mas maintenance done!"
}

find-exec() {
  find . -type f -iname "*${1:-}*" -exec "${2:-file}" '{}' \;
}

# Better find(1)
ff() {
  find . -iname "*${1:-}*"
}

api_key() {
  size=${1:-16}
  openssl rand -hex ${size}
}

port_in_use() {
  local port=${1:?"you should set a port"}
  lsof -n -i:${port} | grep LISTEN
}


# ─── File System ──────────────────────────────────────────────

lfcd() {
  tmp="$(mktemp)"
  lf -last-dir-path="$tmp" "$@"
  if [ -f "$tmp" ]; then
    dir="$(cat "$tmp")"
    rm -f "$tmp"
    if [ -d "$dir" ]; then
      if [ "$dir" != "$(pwd)" ]; then
        cd "$dir"
      fi
    fi
  fi
}

y() {
  local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
  yazi "$@" --cwd-file="$tmp"
  if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

mk() {
  mkdir -p "$@" && cd "$@"
}

# ─── git ──────────────────────────────────────────────
gclone() {
  git clone "$1" && cd "$(basename "$1" .git)"
}

# ─── Misc ──────────────────────────────────────────────

wth() {
  city=${1:?"Choose a city"}
  curl "wttr.in/${city}"
}

uuid() {
  uuidgen | tr '[:upper:]' '[:lower:]' | tr -d '\n' | pbcopy
}
